.profile-menu {
  /* flex: 2; */
  /* height: 100px; */
  background-color: #ffffff;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px 0;
}
.profile-menu .profile-menu-content {
  display: flex;
  gap: 30px;
  align-items: center;
  padding-right: 50px;
}
.profile-menu .profile-menu-content .infos-user {
  display: flex;
  gap: 20px;
  align-items: center;
}
.profile-menu .profile-menu-content .icon-notif img {
  width: 24px;
  height: 24px;
}
.profile-menu .profile-menu-content .infos-user .profil-name {
  font-weight: 400;
  font-size: 0.9rem; /*16px*/
  color: #0a0507;
}
