.course-item {
  box-sizing: border-box;
  width: 280px;
  height: 242px;
  background: #1d3a4c;
  border: 1px solid #e9ebf8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding-top: 40px;
  position: relative;
  gap: 25px;
  padding-left: 30px;
}
.course-item .design1 img {
 width: 20px;
 height: 30px;
}
.course-item .design2 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.course-item .name-course-item {
  font-weight: 700;
  font-size: 2rem; /*50px*/
  color: #ffffff;
  line-height: 1.2;
}
