.HomeHome {
}
.HomeHome .title-home {
  padding: 20px 40px;
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.HomeHome .home-courses {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 27px 37px;
  margin: 0 10px;
  gap: 30px;
  width: 1136px;
  background: #ffffff;
  border: 1px solid #e9ebf8;
  border-radius: 8px;
}
.HomeHome .course-item {
  box-sizing: border-box;
  width: 334px;
  height: 282px;
  background: #1d3a4c;
  border: 1px solid #e9ebf8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
  gap: 10px;
}
.HomeHome .course-item .design1 {
}
.HomeHome .course-item .design2 {
    position: absolute;
}
.HomeHome .course-item .name-course-item {
  font-weight: 600;
  font-size: 50px;
  color: #ffffff;
}
