.ItemMenuLeft .item-dashboard {
  align-items: center;
  padding: 0 16px 10px 16px; /*16px*/
  gap: 10px;
  width: 100%;
  height: 40px; /*44px*/
  margin-bottom: 5px; /*10px*/
}
.ItemMenuLeft .item-dashboard img {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.ItemMenuLeft .item-dashboard .name {
  cursor: pointer;
}
.ItemMenuLeft .item-dashboard .name a{
  font-size: 0.8rem;
}
.ItemMenuLeft .border-line {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  margin-bottom: 10px;
}
.ItemMenuLeft .border-line.last {
  display: none;
}
