.Courses {
  /* flex: 10; */
  background-color: violet;
}
.Courses .title-course {
  padding: 20px 20px;
  font-weight: 600;
  font-size: 32px;
  color: #000000;
}
.Courses .home-courses {
  box-sizing: border-box;
  padding: 27px 37px;
  margin: 0 20px;
  /* height: 433px; */
  background: #ffffff;
  border: 1px solid #e9ebf8;
  border-radius: 8px;
  margin-bottom: 70px;
}
.Courses .current-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  width: 148px;
  height: 16px;
  margin-left: 20px;
  margin-bottom: 35px;
}
.Courses .current1 {
  display: flex;
  gap: 2px;
  align-items: center;
}
.Courses .current-name {
  font-weight: 400;
  font-size: 13px;
  color: #bdbdbd;
}
.Courses .current2 {
  font-weight: 400;
  font-size: 13px;
  color: #05253a;
}
.Courses .table-title {
  font-weight: 600;
  font-size: 23px;
  color: #000000;
  line-height: 1;
}
.Courses .table-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-table-wrapper
  .ant-table-thead
  > tr
  > th,
:where(.css-dev-only-do-not-override-j9bb5n).ant-table-wrapper
  .ant-table-thead
  > tr
  > td {
  font-size: 9px;
  font-weight: 600;
  text-align: left;
  color: #ffffff;
  background: #1d3a4c;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > :first-child {
  border-start-start-radius: 0px;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > :last-child {
  border-start-end-radius: 0px;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before,
:where(.css-dev-only-do-not-override-j9bb5n).ant-table-wrapper
  .ant-table-thead
  > tr
  > td:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  position: absolute;
  top: 50%;
  inset-inline-end: 0;
  width: 1px;
  height: 3.4em;
  background-color: #f0f0f0;
  transform: translateY(-50%);
  transition: background-color 0.2s;
  content: "";
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-table-wrapper
  .ant-table-pagination.ant-pagination {
  margin: 50px 0 16px 0;
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-pagination
  .ant-pagination-item-active {
  font-weight: 600;
  background-color: #05253a;
  border-color: #05253a;
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-pagination
  .ant-pagination-item-active
  a {
  color: #ffffff;
}

tbody.ant-table-tbody tr:nth-child(2n) {
  background-color: #f6f6f6;
}
tbody.ant-table-tbody > tr > td {
  height: 46px;
  font-weight: 400;
  font-size: 13px;
  color: #0a0507;
}
