.Login {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Login .login-top {
  /* height: 45vh; */
  flex: 1;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: start;
  box-sizing: border-box;
}
.Login .login-top img {
  width: 220px; /*399px*/
  height: 50px;
}
.Login .login-bottom {
  /* height: 55vh; */
  flex: 1;
  background: linear-gradient(180deg, #2a4558 0%, #05253a 100%);
  display: flex;
  justify-content: center;
  align-items: end;
}
.Login .login-bottom p{
   font-style: normal;
   font-weight: 400;
   font-size: 0.7rem; /*16px*/
   color: #FFFFFF;
   margin-bottom: 20px;
}
.Login .logo-img{
  padding-top: 60px;
}
